@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 2.8rem;
  color: $color-black;
}
