.info-container {
  grid-column: col-start 1 / col-end 12;
  @include respond(tab-port) {
    grid-column: col-start 1 / col-end 9;
  }

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    // height: 52rem;

    // padding-bottom: 0;

    position: relative;
  }
  animation: fade-in 1s ease-in;

  padding-bottom: 5.6rem;
}

.info {
  //   background-color: blue;

  margin-bottom: 48px;

  &__heading {
    display: flex;
    margin-bottom: 1.6rem;
    &__icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1.6rem;
    }

    &__h4 {
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: 0.4rem;
      font-weight: 400;
      text-transform: uppercase;

      &--text {
        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__clock {
    margin-bottom: 1.6rem;
    &__time {
      font-size: 20rem;
      line-height: 20rem;
      letter-spacing: -0.5rem;
      font-weight: 700;

      @include respond(phone) {
        font-size: 100px;
        line-height: 100px;
        letter-spacing: 2.5px;
      }
    }
    &__zone {
      font-size: 4rem;
      font-weight: 300;
      line-height: 2.8rem;
      @include respond(phone) {
        font-size: 15px;
        line-height: 28px;
      }
    }
  }

  &__location {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.48rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}
